body, html {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 2, 42);
    margin: 0;
    height: 100%;
  }
  
  .container {
    box-shadow: 2px 2px 5px  rgb(194, 125, 34);
    display: flex;
    height: 100vh;
  }
  
  .left-panel {
    background-color: rgb(9, 2, 42);
    color: white;
    padding:20px;
    width:30%;
    border: 5px solid black;
    
  }
  
  .right-panel {
     background-color:rgb(9, 2, 42); 
     color:white; 
     padding-top:50px; 
     text-align:center; 
     width:70%;
  }
  .right-panel h2{
    margin-top: 25%;
    color: pink;
  }
  
  form input[type=text], form input[type=password], form input[type=email] {
   margin-bottom :10px;
   padding :10px;
   width :80%;
   border-radius :5px;
   border:2px solid white;
   background-color:rgb(9, 2, 42);
   color: solid white;
   margin-top: 10px;
  
  }
  label {
    margin-top: 20px;
  }
  
  
  form button{
    background-color:#2c2c98 ;
    width: 350px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 20px;
    color:white;
    font-size: 18px;
  
  }
  .signup{
   color:#f7f7f7 ;

  }
  input{
    color: #f7f7f7;
  }
  