<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization Management</title>
    <link rel="stylesheet" href="/static/css/about.css">

</head>
<body>

    <!-- Navigation bar -->
    <div class="navbar">
        <div class="logo"><a style="text-decoration: none; color: pink;" href="{{ url_for('index') }}">ORGANIZATION <br> MANAGEMENT</a></div>
        <ul class="nav-links">
            <li><a href="#">Categories</a></li>
            <li><a href="prices">Pricing</a></li>
            <li><a href="about">About</a></li>
        </ul>
        <div class="login">
            <button><a style="text-decoration: none; color: solid black ;" href="login">Login</a></button>
        </div>
    </div>

    <!-- Main section -->
<div class="main">

        <!-- Card one -->
        <div class="card">

            <h2>Flexible for Organize <br> Your Data</h2>
            <p>Explore the heart of your organization with ease – our user-friendly platform  offers a comprehensive overview,allowing you to navigate and access vital information effortlessly.</p>
            <button> <a style="text-decoration: none; color: solid black;" href="{{ url_for('login') }}"> Start today </a></button> 

        </div>
        
        <div class="hexagon">
            <img src="/static/images/depositphotos_32433033-stock-photo-data-concept-data-management-on.jpg" alt="Image"> 
        </div>
          
</div>

<footer></footer>

</body>
</html>
